.content-info {
  @extend .bg-inverse;
  color: $white;
  padding: $jumbotron-padding 0;
  // stick footer to bottom when not enough content
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer-logo {
    width: 150px;
  }
}
